<div *ngIf="is_data_loaded">

  <section class="header">
    <div class="circleborder">
      <img class="instructor-big" src="{{workshop.instructor.image()}}">
    </div>
    <h2 class="mat-title">{{workshop.title}} <br/> {{session.date_time | date: 'EEE. MMMM d, y, h:mm-'}}{{session.endTime() | date: 'h:mma'}}</h2>
    <span class="sub-title">with {{workshop.instructor.display_name}}</span>
  </section>

  <section class="header">
    <p>{{workshop.description}}</p>
  </section>

  <app-session [session]="session" [showButtons]="false"></app-session>

  <mat-tab-group [selectedIndex]="selected_tab">

    <mat-tab label="Attendee List">
      <p>There are currently {{session.total_participants}} out of {{session.max_attendees}} participants signed up for this session. </p>
      <p>A few days before the session begins, we send a reminder email, asking students to confirm attendance.  Students who are confirmed
      are shown below with a green check mark.</p>
      <ul class="list">
        <li *ngFor="let a of session.attendees">
          <div class="avatar-wrapper">
            <img class="avatar" src="{{a.links.image}}" alt=""/>
          </div>
          <div class="list-text">
            <p>
              <b>{{ a.display_name }}</b><br/>
              <a href="mailto:{{a.email_address}}">{{a.email_address}}</a><br/>
              Signed up on {{ a.created | date: 'fullDate'}}<br/>
              <span class="confirmed" *ngIf="a.confirmed"><i class="material-icons">check</i>Paticipant confirmed they will attend.</span>
              <br/>
            </p>
          </div>
        </li>
      </ul>
    </mat-tab>

    <mat-tab label="Email Attendees">
      <app-email-form *ngIf="!is_sending" (newEmail)="sendEmail($event)"></app-email-form>
      <mat-spinner *ngIf="is_sending"></mat-spinner>
    </mat-tab>

    <mat-tab label="Previous Emails">
      <p>The following messages were sent to attendees:</p>
      <ul class="list">
        <li *ngFor="let m of messages">
          <div class="avatar-wrapper">
            <img class="avatar" src="{{workshop.instructor.image()}}" alt=""/>
          </div>

          <div class="list_subject">
            <b>Subject:</b> {{m.subject}}<br/>
            <b>Date:</b> {{m.sent_date | date: 'fullDate'}}<br/>
            <b>Status:</b> Sent to {{m.total_delivered()}} participants, of which {{m.total_opened()}} definitely viewed the message.<br/>
            <br/>
            <div class="email-content">
              <markdown-to-html [data]="m.content"></markdown-to-html>
            </div>
          </div>
        </li>
      </ul>
    </mat-tab>

  </mat-tab-group>

</div>



