// Import theming functions
@import '~@angular/material/theming';
// Import your custom theme
@import '../../uva_material.scss';
// Load the UVA Theme
@include uva-theme($uva-theme);

.instructor-big {
  float: left;
  width: 50px;
  height: 50px;
  border-radius: 381px;
  border: 4px solid mat-color($uva-accent, 500);
  padding: 4px;
  margin-right: 10px;
}

form.email_form {
  width: 100%;
  margin: 25px;
}

.mat-form-field {
  width: 100%;
}



ul.list {

  .avatar-wrapper {
    width: 100px;

    .avatar {
      /* Always left-align! Don't center icons */
      width: 80px; /* 72-16 but we already use box-sizing */
      border-radius: 40px;
      padding-left: 0px;
    }
  }
}
