<h1>About CADRE Academy</h1>
<p>CADRE Academy is a resource provided by the University of Virigina to help
students, faculty and staff locate, register, and attend technology workshops.
  This site was conceived by CADRE and developed by
  <a href="http://somrc.virginia.edu">SOMRC</a>.  We launched in January of 2018.
</p>

<h2>About CADRE</h2>
<p>
CADRE is a University-wide exchange designed to simplify the process of finding local
research technology solutions. The CADRE website provides a comprehensive list of
the software, services, training opportunities, storage solutions, and computational
hardware available to UVA scholars. CADRE is multi-disciplinary and supports all eleven
schools of the University.</p>

<p><a href="http://cadre.virginia.edu" target="new">CADRE</a> includes the following groups and departments:</p>

<ul>
  <li>Vice President for Information and Technology</li>
  <li>School of Medicine - Research Computing</li>
  <li>UVA Library - Research Data Services</li>
  <li>Data Science Institute</li>
  <li>ITS - Research Computing Infrastructure</li>
  <li>UVA BioConnector</li>
  <li>Advanced Research Computing Services</li>
</ul>

