<md-toolbar color="primary">
  <span>Ed-Platform</span>
  <span class="example-spacer"></span>
  <button md-button [mdMenuTriggerFor]="appMenu">
    <md-icon>menu</md-icon> Menu
  </button>
</md-toolbar>

<md-menu #appMenu="mdMenu">
  <button md-menu-item> Settings </button>
  <button md-menu-item> Help </button>
</md-menu>

<div class="docs-primary-header">
  <h1>UVA Education Platform</h1>
</div>


<div flex layout="row"></div>


<h2>Available Tracks</h2>
<app-track-list></app-track-list>

<h2>Available Workshops</h2>
<app-workshop-list></app-workshop-list>

<h2>Create Workshop</h2>
<app-workshop-form></app-workshop-form>
