// Import theming functions
@import '~@angular/material/theming';
// Import your custom theme
@import '../uva_material.scss';
// Load the UVA Theme
@include uva-theme($uva-theme);




.logged-in {
  font-size: .8em;
  line-height: 35px;
}

.user-icon {
  border-radius: 50%;
  height: 35px;
  vertical-align:middle;
}

.content {
  max-width: 1200px;
  margin:auto;
}

.active {
  background-color: mat-color($uva-accent, 50);
}
