<mat-toolbar>
  <button mat-button [matMenuTriggerFor]="appMenu">
    <mat-icon>menu</mat-icon>
  </button>
  <span>{{title}}</span>
  <span class="spacer"></span>
  <button mat-button (click)="goSearch()"><mat-icon>search</mat-icon></button>
  <button mat-icon-button *ngIf="account" class="logged-in" [routerLink]="['accountDetails']">
    <img class="user-icon" src="{{account.image()}}" alt="{{account.display_name}}">
  </button>
</mat-toolbar>
<mat-menu #appMenu="matMenu">
  <button mat-menu-item
     [routerLink]="['home']"
     [routerLinkActive]="['active']">
    <mat-icon> home </mat-icon>
    <span> Home </span>
  </button>
  <button mat-menu-item
          [routerLink]="['search']"
          [routerLinkActive]="['active']">
    <mat-icon> search </mat-icon>
    <span> Search </span>
  </button>
  <button *ngIf="account" mat-menu-item
          [routerLink]="['accountDetails']"
          [routerLinkActive]="['active']">
    <mat-icon> person </mat-icon>
    <span> Your Account </span>
  </button>
  <button *ngIf="!(account)" mat-menu-item (click)="goLogin()">
    <mat-icon> person </mat-icon>
    <span> Log in </span>
  </button>
  <button *ngIf="account" mat-menu-item (click)="goLogout()">
    <mat-icon> exit_to_app </mat-icon>
    <span> Log out </span>
  </button>
</mat-menu>

<div class="content">
  <router-outlet></router-outlet>
</div>



