// Import theming functions
@import '~@angular/material/theming';
// Import your custom theme
@import '../uva_material.scss';
// Load the UVA Theme
@include uva-theme($uva-theme);

.menubar {
  display: none;
}

.logout {
  display: none;
}

.home {
  display: block;
  background: #fff;
  color: mat-color($uva-primary, 500);

  a {
    color: mat-color($uva-primary, 500);
    text-decoration: none;
  }
}

.lvl2 {
  a {
    color: mat-color($uva-primary, 50);
    text-decoration: none;
  }
}

div.account {
  position: absolute;
  font-size: 14px;
  right: 20px;
  top: 10px;
}

img.lvl2 {
  display: none;
}

.logged-in {
  font-size: .8em;
  line-height: 35px;
}

.user-icon {
  border-radius: 50%;
  height: 35px;
  width: 35px;
  vertical-align:middle;
}

.content, .mat-toolbar {
  max-width: 1200px;
  margin:auto;
}

.active {
  background-color: mat-color($uva-accent, 50);
}

.user-name {
  display: none;
}


@media screen and (min-width: 480px) {

  .logout {
    display: inline;
  }

  .mat-toolbar {
    position: relative;

    .menu {
      display: none;
    }

    .title {
      display: none;
    }
  }

  .home {
    background: #fff url("../assets/logo-home.png") no-repeat 20px 20px;
    height: 90px;
    font-size: 16px;

    a {
      color: mat-color($uva-primary, 500);
      text-decoration: none;
    }

    .user-name {
      display: inline;
    }

    .menubar {
      display: block;
      padding: 65px 0 0 84px;
      a {
        display: inline-block;
        padding-right: 10px;
        padding-left: 10px;
        text-transform: uppercase;
      }
    }
  }

  mat-toolbar.lvl2 {
    background: -webkit-linear-gradient(bottom,rgba(0,47,108,0),rgba(0,47,108,1)), url('../assets/logo-bg.png'); /*Safari 5.1-6*/
    background: -o-linear-gradient(top,rgba(0,47,108,0),rgba(0,47,108,1)), url('../assets/logo-bg.png'); /*Opera 11.1-12*/
    background: -moz-linear-gradient(bottom,rgba(0,47,108,0),rgba(0,47,108,1)), url('../assets/logo-bg.png'); /*Fx 3.6-15*/
    background: linear-gradient(to bottom, rgba(0,47,108,0), rgba(0,47,108,1)), url('../assets/logo-bg.png');
    display: flex;
    height: 100px;
    padding: 20px 10px 10px 10px;
    color: #fff;

    img.lvl2 {
      display: block;
    }

    a {
      color: mat-color($uva-primary, 50);
      text-decoration: none;
      font-size: 14px;
    }

    .menubar {
      display: block;
      position: absolute;
      top: 60px;
      right: 20px;
      a {
        display: inline-block;
        padding-right: 10px;
        padding-left: 10px;
        text-transform: uppercase;
      }
    }

  }

}

