<div class="docs-primary-header">
  <h1 class="md-title">The CADRE Education Platform</h1>
  <h2 class="md-subhead">Free Technology Classes on the UVA Campus.</h2>
  <div
    class="container sponsors"
    fxLayout="row"
    fxLayout.xs="column"
    fxLayoutAlign="center"
    fxLayoutGap="10px"
    fxLayoutGap.xs="0">
    <img src="../../assets/sponsors/uva-info-tech.png" class="sponsor_logo"/>
    <img src="../../assets/sponsors/bio-connector.png" class="sponsor_logo"/>
    <img src="../../assets/sponsors/uva_somrc_logo.png" class="sponsor_logo"/>
    <img src="../../assets/sponsors/uva-adcs.png" class="sponsor_logo"/>
    <img src="../../assets/sponsors/uva-library.png" class="sponsor_logo"/>
  </div>
</div>


<div flex layout="row"></div>


<h2>Available Tracks</h2>
<app-track-list [tracks]="tracks"></app-track-list>

<h2>Available Workshops</h2>
<app-workshop-list [workshops]="workshops"></app-workshop-list>

<h2>Create Workshop</h2>
<app-workshop-form (add)="onAddWorkshop($event)"></app-workshop-form>
