<div class="docs-primary-header">
  <div class="logo">
    <img class="logo" src="../../assets/logo.png"
         alt="Welcome to Cadre Academy.  Free Technology Classes on the UVA Campus."/>
  </div>
</div>

<section class="center">
<h1>Welcome!</h1>
<p>
  The Cadre Academy is available for students, faculty
  and staff to sign up for live workshops on the UVA campus.
  You can sign up for any upcoming workshop. You can also
  use Tracks to get a better sense of what workshop to take
  when, and how to further progress your skills.
</p>
</section>

<h2 class="header">
  Tracks
  <div class="spacer"></div>
  <button (click)="goNewTrack()" mat-icon-button *ngIf="account && account.isAdmin()">
    <mat-icon color="primary">add_circle</mat-icon>
  </button>
</h2>
<app-track-list [tracks]="tracks"></app-track-list>

<h2 class="header">
  Workshops
  <div class="spacer"></div>
  <button (click)="goNewWorkshop()" mat-icon-button *ngIf="account && account.isAdmin()">
    <mat-icon color="primary">add_circle</mat-icon>
  </button>
</h2>
<app-search></app-search>
  <!--
  <section>
    <h2>Create Workshop</h2>
    <app-workshop-form (add)="onAddWorkshop($event)"></app-workshop-form>
  </section>
  -->

<div class="sponsors">
  <button (click)="left()" class="arrows">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <div class="carousel-wrapper">
    <ul class="carousel-inner" [@slide]="sponsor_state">
      <li *ngFor="let sponsor of sponsors;" class="carousel">
        <img class="item" src="{{sponsor.image}}">
      </li>
    </ul>
  </div>
  <button (click)="right()" class="arrows">
    <mat-icon>arrow_forward</mat-icon>
  </button>
</div>

