.example-spacer {
  flex: 1 1 auto;
}

.docs-primary-header {
  background-image: url('../../header.png');
  min-height:200px;
  width: 100%;
  color: white;
  margin: auto;
  vertical-align: middle;
  text-align: center;
  padding-top: 40px;
}

.carousel-wrapper {
  overflow: hidden;
  background-color: white;
}
.carousel {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 6000px;
}
.carousel-inner {
  display: flex;
}

.arrows {
  font-size: 48px;
  color: lightgrey;
}

.sponsor_slider {
  background-color: white;
}
