<div class="mobile-header">
  <div class="logo">
    <img class="logo" src="../../assets/logo.png"
         alt="Welcome to Cadre Academy.  Free Technology Classes on the UVA Campus."/>
  </div>
</div>
<div class="introduction">
  <h1>Technology Workshops at UVa</h1>
  <p>These workshops are free to UVA faculty, staff
    and students and are offered in a single-session
    format, typically lasting one to three hours.</p>
  <p>FIND YOUR NEXT SKILL ...</p>
  <div class="searchbox">
    <form class="searchbox" (ngSubmit)="goSearch(query.value)">
      <div class="label">Search</div>
      <input #query type="text">
      <button mat-icon-button>
        <mat-icon>search</mat-icon>
      </button>
    </form>
    <button class="viewall" mat-button (click)="goSearch('')">View All Workshops</button>
  </div>
</div>

<div style="clear: both;"></div>

<h2 class="header">
  Tracks
  <div class="spacer"></div>
  <button (click)="goNewTrack()" mat-icon-button *ngIf="account && account.isAdmin()">
    <mat-icon color="primary">add_circle</mat-icon>
  </button>
</h2>
<app-track-list [tracks]="tracks"></app-track-list>

<h2 class="header">
  Featured Workshops
  <div class="spacer"></div>
  <button (click)="goNewWorkshop()" mat-icon-button *ngIf="account && account.isAdmin()">
    <mat-icon color="primary">add_circle</mat-icon>
  </button>
  <button mat-raised-button (click)="goSearch('')">
    <mat-icon color="primary">search</mat-icon>
    Search all
  </button>
</h2>

<app-workshop-list [workshops]="workshops"></app-workshop-list>

<div class="sponsors">
  <button (click)="left()" class="arrows">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <div class="carousel-wrapper">
    <ul class="carousel-inner" [@slide]="sponsor_state">
      <li *ngFor="let sponsor of sponsors;" class="carousel">
        <img class="item" src="{{sponsor.image}}">
      </li>
    </ul>
  </div>
  <button (click)="right()" class="arrows">
    <mat-icon>arrow_forward</mat-icon>
  </button>
</div>

