// Import theming functions
@import '~@angular/material/theming';
// Import your custom theme
@import '../../uva_material.scss';
// Load the UVA Theme
@include uva-theme($uva-theme);

.course-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  border-top: 2px solid rgba(0, 0, 0, 0.54);;
  color: rgba(0, 0, 0, 0.54);

  h2 {
    padding: 0;
    magin: 0;
  }
}

div.header-title {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+10,000000+100&1+0,0+100 */
  background: -moz-linear-gradient(45deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.9) 10%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, rgba(0,0,0,1) 0%,rgba(0,0,0,0.9) 10%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, rgba(0,0,0,1) 0%,rgba(0,0,0,0.9) 10%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  padding: 100px 10px 10px 10px;
}

h2.mat-title, div.mat-card-pre-title, div.sub-title {
  background: transparent;
  color: #fff;
}


