<div *ngIf="isDataLoaded">

  <div>
    <div class="header " [ngStyle]="{'background': '#fff url(' +track.links.image + ') no-repeat center center'}">
      <div class="header-title"
           fxLayout="row"
           fxLayoutAlign="center center"
           fxLayoutStart=""
           fxLayoutGap="10px"
           fxLayoutGap.xs="0">
        <div>
          <div class="mat-card-pre-title">Track</div>
          <h2 class="mat-title">{{track.title}}</h2>
          <div class="sub-title">{{track.sub_title}}</div>
        </div>
        <div class="spacer"></div>
        <button mat-fab (click)="confirmDelete()" aria-label="Delete Track" *ngIf="account && account.isAdmin()">
          <mat-icon>delete_forever</mat-icon>
        </button>
        <button mat-fab (click)="editTrack()" aria-label="Edit Track" *ngIf="account && account.isAdmin()">
          <mat-icon>edit</mat-icon>
        </button>
      </div>
    </div>

    <section class="container"
             fxLayout="row"
             fxLayout.xs="column"
             fxLayoutAlign="center center"
             fxLayoutStart=""
             fxLayoutGap="10px"
             fxLayoutGap.xs="0">

      <p>{{track.description}}</p>
      <div class="progress">
        <app-track-progress (selectedIndex)="gotoCode($event)" [track]="track" [showTitles]="true"
                            [codeIndex]="codeIndex"></app-track-progress>
      </div>
    </section>
  </div>

  <mat-button-toggle-group #group="matButtonToggleGroup" [value]="view_type" (change)="toggle_list()">
    <mat-button-toggle value="code" matTooltip="Order items by topic">
      <mat-icon>toc</mat-icon>
    </mat-button-toggle>
    <mat-button-toggle value="date" matTooltip="Order items by week">
      <mat-icon>date_range</mat-icon>
    </mat-button-toggle>
  </mat-button-toggle-group>

  <div class="course-nav-scroll" (touchstart)="swipe($event, 'start')" (touchend)="swipe($event, 'end')">

    <div class="course-nav">
      <button mat-button (click)="prevCode()">
        <i class="material-icons">keyboard_arrow_left</i>PREV
      </button>
      <div class="spacer"></div>
      <h2 *ngIf="code.date">Week of {{code.date | date:'MMMM dd'}}</h2>
      <h2 *ngIf="!code.date">{{code.id}}</h2>
      <div class="spacer"></div>
      <button mat-button (click)="nextCode()">
        NEXT<i class="material-icons">keyboard_arrow_right</i>
      </button>
    </div>

    <app-workshop-list *ngIf="code" [workshops]="code.workshops"></app-workshop-list>
  </div>


  <!--
  <div class="example-selected-value">Selected value: {{group.value}}</div>
  -->

  <div class="course-nav-list">
    <ng-container *ngFor="let code of workshop_groups">
      <h2 *ngIf="code.date">Week of {{code.date | date:'MMMM dd'}}</h2>
      <h2 *ngIf="!code.date">{{code.id}}</h2>
      <app-workshop-list [workshops]="code.workshops"></app-workshop-list>
    </ng-container>
  </div>


</div>



