<div *ngIf="isDataLoaded">

  <section class="header flex">
    <div>
      <h2 class="mat-title">{{track.title}}</h2>
      <div class="sub-title">Unaccredited Program</div>
    </div>
    <div class="spacer"></div>
    <button mat-raised-button>Follow</button>
    <button mat-fab (click)="confirmDelete()" aria-label="Delete Track" *ngIf="account && account.isAdmin()">
      <mat-icon>delete_forever</mat-icon>
    </button>
  </section>
  <section class="header">
    <p>{{track.description}}</p>
    <app-track-progress (selectedIndex)="gotoCode($event)" [track]="track" [codeIndex]="codeIndex"></app-track-progress>
  </section>


  <div class="course-nav">
    <button mat-button (click)="prevCode()">
      <i class="material-icons">keyboard_arrow_left</i>PREV
    </button>
    <div class="spacer"></div>
    <h2 *ngIf="code" >{{code.id}}</h2>
    <div class="spacer"></div>
    <button mat-button (click)="nextCode()">
    NEXT<i class="material-icons">keyboard_arrow_right</i>
    </button>
  </div>

  <app-workshop-list *ngIf="code" [workshops]="code.workshops"></app-workshop-list>

</div>



