<div *ngIf="isDataLoaded">

  <section class="header flex">
    <div>
      <h2 class="mat-title">{{track.title}}</h2>
      <div class="sub-title">Unaccredited Program</div>
    </div>
    <div class="spacer"></div>
    <button mat-raised-button>Follow</button>
  </section>
  <section class="header">
    <p>{{track.description}}</p>
    <app-track-progress></app-track-progress>
  </section>

  <mat-tab-group>
    <mat-tab label="Workshops">
      <app-workshop-list [workshops]="workshops"></app-workshop-list>
    </mat-tab>
  </mat-tab-group>



</div>



