{% extends "base_email.html" %}
{% block content %}
<p style="font-family: sans-serif; font-size: 24px; font-weight: bold; margin: 0; Margin-bottom: 15px;">
    Confirm you will be attending <i>"{{ session.workshop.title }}"</i>
    with {{ session.workshop.instructor.display_name }}
</p>
<p style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; Margin-bottom: 15px;">
    {{ participant.display_name }}, </p>

<p style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; Margin-bottom: 15px;">
    You are currently registered for the class {{ session.workshop.title }}
    with {{ session.workshop.instructor.display_name }}
    which is happening soon.
</p>

<p style="font-family: sans-serif; font-size: 14px; font-weight: bold; margin-left: 30px; margin-bottom: 15px;">
    SESSION DETAILS<br>
    {{ session.start_date_time_local().strftime('%B %d, %Y') }} <br>
    {{ session.start_date_time_local().strftime('%I:%M %p') }} to {{ session.end_date_time_local().strftime('%I:%M %p') }}<br>
    Location: {{ session.location }}
</p>
<p style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; Margin-bottom: 15px;">
    Please let us know if you are planning to attend.
</p>
<table border="0" cellpadding="0" cellspacing="0">
    <tbody>
    <tr>
         <tr>
         <td style="font-family: sans-serif; font-size: 14px; vertical-align: top; background-color: #42BD41; border-radius: 5px; text-align: center;">
             <a href="{{ site_url }}/#/workshop/{{ session.workshop.id }}/confirm/{{ session.id }}/{{ tracking_code }}" target="_blank" style="display: inline-block; width: 180px; color: #ffffff; background-color: #42BD41; border: solid 1px #42BD41; border-radius: 5px; box-sizing: border-box; cursor: pointer; text-decoration: none; font-size: 14px; font-weight: bold; margin: 0; padding: 12px 25px; text-transform: capitalize; border-color: #42BD41;">
                 <span style="font-size: 1.4em; font-weight: bold">YES</span></br>I can Attend</a> </td>
         <td style="padding:10px;"0></td>
         <td style="font-family: sans-serif; font-size: 14px; vertical-align: top; background-color: #e98726; border-radius: 5px; text-align: center;">
             <a href="{{ site_url }}/#/workshop/{{ session.workshop.id }}/decline/{{ session.id }}/{{ tracking_code }}" target="_blank" style="display: inline-block; width: 180px; color: #ffffff; background-color: #e98726; border: solid 1px #e98726; border-radius: 5px; box-sizing: border-box; cursor: pointer; text-decoration: none; font-size: 14px; font-weight: bold; margin: 0; padding: 12px 25px; text-transform: capitalize; border-color: #e98726;">
                 <span style="font-size: 1.4em; font-weight: bold">NO</span></br>I cannot Attend</a> </td>
         </tr>
    </tr>
    </tbody>
</table>
    <p></p>
{% endblock %}