{% extends "base_email.html" %}
{% block content %}
<p  style="font-family: sans-serif; font-size: 24px; font-weight: bold; margin: 0; Margin-bottom: 15px;">
    {% if new_session %}A new session is open for registration in
    {% else %}There's space available in
    {% endif %}
    <i>"{{ session.workshop.title }}"</i>
    with {{ session.workshop.instructor.display_name }}
</p>
    <p style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; Margin-bottom: 15px;">
    {{ participant.display_name }}, </p>

<p style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; Margin-bottom: 15px;">
    {% if new_session %}Registration is now open for a session of
    {% else %}Space has become available in a session of
    {% endif %}
    {{ session.workshop.title }}
    with {{ session.workshop.instructor.display_name }}.
</p>

<p style="font-family: sans-serif; font-size: 14px; font-weight: bold; margin-left: 30px; margin-bottom: 15px;">
    SESS3ION DETAILS<br>
    {{ session.start_date_time_local().strftime('%B %d, %Y') }} <br>
    {{ session.start_date_time_local().strftime('%I:%M %p') }} to {{ session.end_date_time_local().strftime('%I:%M %p') }}<br>
    Location: {{ session.location }}
</p>
<p style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; Margin-bottom: 15px;">
    If you would like to attend this session, visit the workshop page on Cadre Academy to sign up.
</p>
<table>
    <tbody>
    <tr>
         <td style="font-family: sans-serif; font-size: 14px; vertical-align: top; background-color: #42BD41; border-radius: 5px; text-align: center;">
             <a href="{{ site_url }}/#/workshop/{{ session.workshop.id }}" target="_blank" style="display: inline-block; width: 180px; color: #ffffff; background-color: #42BD41; border: solid 1px #42BD41; border-radius: 5px; box-sizing: border-box; cursor: pointer; text-decoration: none; font-size: 14px; font-weight: bold; margin: 0; padding: 12px 25px; text-transform: capitalize; border-color: #42BD41;">
                 <span style="font-size: 1.4em; font-weight: bold">View Workshop</span></a> </td>
    </tr>
    </tbody>
</table>



    <p>You received this email because you are following this workshop.  You can
        <a href="{{ site_url }}/#/workshop/{{session.workshop.id}}/unfollow/{{session.id}}/{{tracking_code}}">unsubscribe</a> from further notifications
     about this workshop.
</p>

    <p></p>
{% endblock %}