<mat-card class="workshop">
  <mat-card-header (click)="goWorkshop()">
    <img mat-card-avatar src="{{workshop.instructor.image()}}" *ngIf="workshop.instructor">
    <mat-card-title>
      <div class="mat-card-pre-title">{{workshop.code_id}}</div>
      {{workshop.title}}</mat-card-title>
    <mat-card-subtitle>
      <span *ngIf="workshop.instructor">{{workshop.instructor.display_name}}</span><br/>
      <span *ngIf="workshop.hasUpcomingSession()">
        Next Session:
        {{workshop.nextSession().date_time | date: 'MMM. d, h:mm-'}}{{workshop.nextSession().endTime() | date: 'h:mma'}}
      </span>
    </mat-card-subtitle>
  </mat-card-header>

  <!--
  <mat-card-header *ngIf="!workshop.hasUpcomingSession()">
    <p>No upcoming sessions for this workshop.</p>
  </mat-card-header>

  <span *ngIf="loggedIn()">
  <mat-card-actions *ngIf="workshop.instructing()">
    <button mat-button (click)="teacherDashboard()">Teacher Dashboard</button>
  </mat-card-actions>

  <mat-card-actions *ngIf="workshop.registered()">
    You are Registered for this class.
  </mat-card-actions>

  </span>
  -->
  <!--
  <mat-card-actions>
    <button mat-button (click)="goWorkshop(workshop.id)">Register Now!</button>
    <button mat-button class="mat-icon-button" aria-label="icon">
      <mat-icon mat-svg-icon="icon"></mat-icon>
    </button>
  </mat-card-actions>
  -->
</mat-card>
