.md-card-wrapper {
  position: relative;
}

.workshop-card {
  cursor: default;
  width: 371px;
  top: 50%;
  left: 50%;
  transform: -webkit-translate(-50%, -50%);
  transform: -moz-translate(-50%, -50%);
  transform: -ms-translate(-50%, -50%);
  transform: -o-translate(-50%, -50%);
  transform: translate(-50%, -50%);
  margin: 20px;
}

.card-header-date {
  float: right;
  margin: 20px 20px 0 0;
  border-radius: 50%;
  font-weight: bold;
  padding: 12px 15px;
  line-height: 15px;
}

.card-header-date, .card-body-header-category {
  text-transform: uppercase;
  background-color: #EF5A31;
  color: #FFF;
  font-weight: bold;
  text-align: center;
}

.card:hover .card-header {
  background-size: 403px 267px;
  background-position: -16px -16px;
}
