<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav class="example-sidenav">
    <h2>Filters</h2>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Date Range
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-list>
        <mat-list-item (click)="setDateRange('all', 'All')">All</mat-list-item>
        <mat-list-item (click)="setDateRange('future', 'Upcoming')">Upcoming</mat-list-item>
        <mat-list-item (click)="setDateRange('7days', 'Upcoming (7 days)')">Upcoming (7 days)</mat-list-item>
        <mat-list-item (click)="setDateRange('30days', 'Upcoming (30 days)')">Upcoming (30 days)</mat-list-item>
        <mat-list-item (click)="setDateRange('past', 'Past')">Past</mat-list-item>
      </mat-list>
    </mat-expansion-panel>
    <mat-expansion-panel *ngFor="let facet of search.facets">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{facet.name}}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-list>
        <mat-list-item *ngFor="let count of facet.counts" (click)="addFilter(facet.name, count.category)">
          {{count.category}} <div class="spacer"> </div>{{count.hit_count}}
        </mat-list-item>
      </mat-list>
    </mat-expansion-panel>
  </mat-sidenav>

  <form class="search-box" [formGroup]="searchForm">
    <mat-input-container>
      <input matInput #query type="search" formControlName="searchBox" placeholder="Search">
    </mat-input-container>
    <button mat-fab (click)="updateQuery(query.value)">
      <mat-icon>search</mat-icon>
    </button>
    <button mat-fab (click)="sidenav.open()">
      <i class="material-icons">filter_list</i>
    </button>
  </form>


  <ul class="applied-filters">
    <li *ngIf="search.query">
      <button mat-icon-button (click)="updateQuery()"><i class="material-icons">remove_circle_outline</i></button>
      Search: {{search.query}}
    </li>

    <li *ngIf="search.date_restriction">
      <button mat-icon-button (click)="removeDateRange()"><i class="material-icons">remove_circle_outline</i></button>
      Date Range: {{date_range_display}}
    </li>

    <li *ngFor="let filter of search.filters">
      <button mat-icon-button (click)="removeFilter(filter)"><i class="material-icons">remove_circle_outline</i>
      </button>
      {{filter.field}} : {{filter.value}}
    </li>
  </ul>

  <app-workshop-list [workshops]="search.workshops"></app-workshop-list>

</mat-sidenav-container>

