<md-card class="track" (click)="goTrack(track.id)">

  <md-card-header>
    <md-card-title class='md-title'>{{track.title}}</md-card-title>
    <md-card-subtitle>Unaccredited Program</md-card-subtitle>
  </md-card-header>
  <md-card-content>
    <div class="track-progress">
      <md-icon>radio_button_unchecked</md-icon>
      <md-icon class="divider">play_arrow</md-icon>
      <md-icon>radio_button_unchecked</md-icon>
      <md-icon class="divider">play_arrow</md-icon>
      <md-icon>radio_button_unchecked</md-icon>
      <md-icon class="divider">play_arrow</md-icon>
      <md-icon>radio_button_unchecked</md-icon>
      <md-icon class="divider">play_arrow</md-icon>
      <md-icon>radio_button_unchecked</md-icon>
    </div>

  </md-card-content>
</md-card>
