// Import theming functions
@import '~@angular/material/theming';
// Import your custom theme
@import '../../uva_material.scss';
// Load the UVA Theme
@include uva-theme($uva-theme);


.track {
  border-top: 4px solid mat-color($uva-primary, 500)
}

.mat-card-content {
  margin-left: 8px;
}

.mat-card .mat-card-image {
  margin-top: -12px;
  width: calc(100% + 24px);
  margin: -12px -40px 16px -12px;
}


