// Import theming functions
@import '~@angular/material/theming';
// Import your custom theme
@import '../../uva_material.scss';
// Load the UVA Theme
@include uva-theme($uva-theme);

/* class repeated for increased specificity */
.mat-form-field.mat-form-field {
  width: 100%;
}

fieldset > div {
  display: inline;
}

button.mat-raised-button {
  background-color: mat-color($uva-accent, 500);
}
