<form [formGroup]="email_form" novalidate (ngSubmit)="onSendEmail()" class="email_form">
  <div>
    <mat-form-field class="example-full-width">
      <input matInput formControlName="email_title" placeholder="Email Title" value="" class="form-control">
      <mat-error>
        Title is <strong>required</strong>
      </mat-error>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field class="example-full-width">
    <textarea matInput rows="10" formControlName="email_content" placeholder="Description" value="" class="form-control">
    </textarea>
      <mat-error>
        This description is too short.
      </mat-error>
    </mat-form-field>
  </div>
  <button type="submit" mat-raised-button>Send Email</button>
</form>
