<!--
<pre>{{track_form.value | json}}</pre>
<pre>Dirty? {{ title.dirty }}</pre>
<pre>Pristine? {{ title.pristine }}</pre>
<pre>In Valid Description? {{ description.invalid }}</pre>
<pre>Title  {{ title}}</pre>
-->

<mat-sidenav-container *ngIf="isDataLoaded">
  <mat-sidenav mode="side" opened="true" dnd-droppable dnd-sortable-container [sortableData]="codeOptions">
    <h2>Available Codes</h2>
    <em>You can drag these codes into the list of codes for the track.  To remove a code, drag it from
    the track, back into here.</em>
    <ul class="list-group" >
      <li *ngFor="let code of codeOptions; let i = index" class="list-group-item"
          dnd-draggable dnd-sortable [dragData]="code" [sortableIndex]="i">
        <mat-icon>reorder</mat-icon>
        {{code.id}}
      </li>
    </ul>

    <h2>Create a new Code</h2>
    <app-code-form (add)="addCodeOption($event)"></app-code-form>
  </mat-sidenav>

  <div class="content">

    <form [formGroup]="track_form" novalidate (ngSubmit)="onSubmit()">

      <div
        class="container"
        fxLayout="row"
        fxLayoutWrap
        fxLayout.xs="column"
        fxLayoutAlign="start"
        fxLayoutGap="10px"
        fxLayoutGap.xs="0">

        <div fxFlex="50%">
          <h2>Track Details</h2>
          <div>
            <mat-form-field>
              <input matInput formControlName="title" placeholder="Title" value="{{track.title}}" class="form-control">
              <mat-error>
                Title is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field>
              <input matInput formControlName="sub_title" placeholder="Sub Title" value="{{track.sub_title}}" class="form-control">
            </mat-form-field>
          </div>
          <div>
            <mat-form-field>
    <textarea matInput formControlName="description" placeholder="Description" value="{{track.description}}" class="form-control">
    </textarea>
              <mat-error>
                This description is too short.
              </mat-error>
            </mat-form-field>
          </div>
          <h2>Choose an image</h2>
          <i>Important:  Images should be 1280x505!</i>
          <div class="image-selector">
            <input type="file" (change)="newImage($event)" #fileInput>
          </div>
        </div>
        <div class="display">
          <h2>How your Track will appear:</h2>
          <app-track [track]="track"></app-track>
          <div class="button">
            <button type="submit" mat-raised-button>Save This Track</button>
          </div>
        </div>

        <div>
          <h2>Workshop Codes:</h2>
          <div class="drop-panel" dnd-sortable-container [sortableData]="track.codes">
            <em>Drop codes here from the list of available codes on the left. You can reorder these codes by dragging
              them.</em>
            <ul class="list-group">
              <li *ngFor="let code of track.codes; let i = index" class="list-group-item" dnd-sortable
                  [sortableIndex]="i" [dragData]="code">
                <mat-icon>reorder</mat-icon>
                {{code.id}}
                <label><input type="checkbox" (click)="setPrereq(i)" [checked]="code.prereq">prerequisite?</label>
                &nbsp;({{code.workshops.length}} workshops)
              </li>
            </ul>
          </div>
        </div>
      </div>
    </form>

  </div>
  <!-- primary content -->
</mat-sidenav-container>

