// Import theming functions
@import '~@angular/material/theming';
// Import your custom theme
@import '../../uva_material.scss';
// Load the UVA Theme
@include uva-theme($uva-theme);

mat-sidenav {
  padding: 20px;
  width: 300px;
}

h2 {
  background:transparent;
}

.content {
  padding: 20px;
}

/* class repeated for increased specificity */
.mat-form-field.mat-form-field {
  width: 100%;
}

.list-group {
  padding-left: 0;
  margin-bottom: 20px;
}

.list-group li {
  display: flex;
  list-style-type: none;
  line-height: 30px;
  height: 30px;
  vertical-align: middle;
}

.drop-panel {
  background-color: #fff;
}

.button {
  margin: auto;
  padding: 10px;
}
