// Import theming functions
@import '~@angular/material/theming';
// Import your custom theme
@import '../../uva_material.scss';
// Load the UVA Theme
@include uva-theme($uva-theme);

.instructor-big {
  float: left;
  width: 50px;
  height: 50px;
  border-radius: 381px;
  border: 4px solid mat-color($uva-accent, 500);
  padding: 4px;
  margin-right: 10px;
}



ul.list {
  display: table;
  width: 100%;
  padding: 8px 0;
  margin: 0;
  list-style:none;
}

ul.list li {
  display: table-row;
  height: 48px; /* that's actually min-height for rows */
}

ul.list li > * {
  /* Align always to middle */
  display: table-cell;
  margin: 0;
  padding: 0;
  vertical-align: middle;
}

ul.list li > *:first-child {
  /* Whoever is the first child it needs 16px left space */
  padding-left: 16px;
  background: rgba(0,255,0,0.05);
}
ul.list li > *:last-child{
  /* Whoever is the last child it needs 16 right space */
  padding-right: 16px;
}

ul.list .avatar {
  /* Always left-align! Don't center icons */
  width: 72px; /* 72-16 but we already use box-sizing */
}

form.email_form {
  width: 100%;
  margin: 25px;
}

mat-form-field {
  width: 100%;
}
