<div *ngIf="is_data_loaded">

  <section class="header">
    <div class="circleborder">
      <img class="instructor-big" src="{{workshop.instructor.image()}}">
    </div>
    <h2 class="mat-title">{{workshop.title}}</h2>
    <span class="sub-title">with {{workshop.instructor.display_name}}</span>
  </section>

  <section class="header">
    <p>{{workshop.description}}</p>
  </section>

  <section class="header flex">
    <div>
      {{session.date_time | date: 'EEE. MMMM d, y, h:mm-'}}{{session.endTime() | date: 'h:mma'}}
      <br/>
      <span class="sub-title">Location: {{session.location}}</span>
    </div>
  </section>


  <mat-tab-group [selectedIndex]="selected_tab">

    <mat-tab label="Attendee List">
      <p>There are currently {{session.total_participants}} out of {{session.max_attendees}} participants signed up for this session. There are {{session.waiting_participants}} participants waiting for open slots.</p>
      <ul class="list">
        <li *ngFor="let a of session.attendees">
          <img class="avatar" src="{{a.links.image}}" alt=""/>
          <div class="list-text">
            <p>
              <b>{{ a.display_name }}</b><br/>
              Signed up on {{ a.created | date: 'fullDate'}}<br/>
              <br/>
            </p>
          </div>
        </li>
      </ul>

      <h2>Wait List:</h2>
      <ul class="list">
        <li *ngFor="let a of session.waiting">
          <img class="avatar" src="{{a.links.image}}" alt=""/>
          <div class="list-text">
            <p>
              <b>{{ a.display_name }}</b><br/>
              Signed up on {{ a.created | date: 'fullDate'}}<br/>
              <br/>
            </p>
          </div>
        </li>
      </ul>

    </mat-tab>

    <mat-tab label="Email Attendees">
      <form [formGroup]="email_form" novalidate (ngSubmit)="onSendEmail()" class="email_form"  [hidden]="is_sending">
        <div>
          <mat-form-field class="example-full-width">
            <input matInput formControlName="email_title" placeholder="Email Title" value="" class="form-control">
            <mat-error>
              Title is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field class="example-full-width">
    <textarea matInput formControlName="email_content" placeholder="Description" value="" class="form-control">
    </textarea>
            <mat-error>
              This description is too short.
            </mat-error>
          </mat-form-field>
        </div>
        <button type="submit" mat-button>Send Email to Attendees</button>
      </form>
      <div id="sending-email" [hidden]="!is_sending">
        <mat-progress-spinner class="example-margin"  color="secondary" mode="indeterminate">
        </mat-progress-spinner>
        Sending your email ...
      </div>

    </mat-tab>

    <mat-tab label="Previous Emails">
      <p>The following messages were sent to attendees:</p>
      <ul class="list">
        <li *ngFor="let m of messages">
          <img class="avatar" src="{{workshop.instructor.image()}}" alt=""/>
          <div class="list_subject">
            <b>Subject:</b> {{m.subject}}<br/>
            <b>Date:</b> {{m.sent_date | date: 'fullDate'}}
          </div>
          <div class="list-content">
            {{m.content}}
          </div>
        </li>
      </ul>
    </mat-tab>

  </mat-tab-group>

</div>



