// Import theming functions
@import '~@angular/material/theming';
// Import your custom theme
@import '../../uva_material.scss';
// Load the UVA Theme
@include uva-theme($uva-theme);

.track-progress {
  display: flex;
}

.track-progress span {
  display: flex;
}

.track-progress mat-icon {
  border: 2px solid transparent;
  border-radius: 25px;
}

.progress-next {
//  width: 10px;
}

.track-progress mat-icon.active {
  border: 2px solid mat-color($uva-accent, 500);
  border-radius: 25px;
}

.track-progress mat-icon.open {
  fill: #888;
}

.track-progress mat-icon.complete {
  fill: mat-color($uva-primary, 500);
}

.active {
  border: 1px solid mat-color($uva-primary, 500);
}
