<div class="track-progress">
  <div class="spacer"></div>
  <mat-icon class="complete" svgIcon="complete"></mat-icon>
  <mat-icon class="progress-next" svgIcon="progress-next"></mat-icon>
  <mat-icon class="active">radio_button_unchecked</mat-icon>
  <mat-icon class="progress-next" svgIcon="progress-next"></mat-icon>
  <mat-icon>radio_button_unchecked</mat-icon>
  <mat-icon class="progress-next" svgIcon="progress-next"></mat-icon>
  <mat-icon>radio_button_unchecked</mat-icon>
  <mat-icon class="progress-next" svgIcon="progress-next"></mat-icon>
  <mat-icon>radio_button_unchecked</mat-icon>
  <div class="spacer"></div>
</div>
