// Import theming functions
@import '~@angular/material/theming';
// Import your custom theme
@import '../../uva_material.scss';
// Load the UVA Theme
@include uva-theme($uva-theme);

.track-progress {
  display: -webkit-flex; /* Safari */
  display: flex;
  flex-flow: row;
  flex-wrap: nowrap;
  -webkit-align-items: flex-end; /* Safari 7.0+ */
  align-items: flex-end;
}

mat-icon {
  color: mat-color($uva-primary, 500);
  cursor: pointer;
  padding: -2px;
  stroke: #888;
}

mat-icon.active {
  stroke: mat-color($uva-accent, 500);
}

mat-icon.open {
  color: #888;
}

mat-icon.connect {
}

.titles {
  display: none;
}


@media screen and (min-width: 480px) {

  .track-progress-with-titles, .titles {
    display: -webkit-flex; /* Safari */
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    flex-wrap: nowrap;
    -webkit-align-items: flex-end; /* Safari 7.0+ */
    align-items: flex-end;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;


    .circle {
      flex: 1 1 0;
    }

    .connect {
      flex: 1 1 0;
    }

    .track-spacer {
      flex: .5 1 0;
    }

    .code-name {
      flex: 1 1 0;
      text-align: center;
      color: #4d6d98;
      font-size: 10px;
      line-height: 12px;
      width: 60px;
      padding: 5px 10px;
    }

  }





}
