<div *ngIf="isDataLoaded">

  <section class="header">
    <div class="circleborder">
      <img class="participant-big" src="{{participant.image()}}">
    </div>
    <h2 class="mat-title">{{participant.display_name}}</h2>
  </section>

  <section class="header">
    <p>{{participant.bio}}</p>
  </section>

  <mat-tab-group [selectedIndex]="participant.new_account? 3 : 0">
    <mat-tab label="Upcoming Workshops">
      <div
        class="container"
        fxLayout="row"
        fxLayout.xs="column"
        fxLayoutAlign="center"
        fxLayoutGap="10px"
        fxLayoutGap.xs="0">

        <app-workshop *ngFor="let workshop of upcomingWorkshops()" [workshop]="workshop" ></app-workshop>
      </div>
    </mat-tab>
    <mat-tab label="Past Workshops">
      <div
        class="container"
        fxLayout="row"
        fxLayout.xs="column"
        fxLayoutAlign="center"
        fxLayoutGap="10px"
        fxLayoutGap.xs="0">

        <app-workshop *ngFor="let workshop of pastWorkshops()" [workshop]="workshop" ></app-workshop>
      </div>
    </mat-tab>
    <mat-tab label="Instructing" *ngIf="instructingWorkshops().length > 0">
      <div
        class="container"
        fxLayout="row"
        fxLayout.xs="column"
        fxLayoutAlign="center"
        fxLayoutGap="10px"
        fxLayoutGap.xs="0">

        <app-workshop *ngFor="let workshop of instructingWorkshops()" [workshop]="workshop" ></app-workshop>
      </div>
    </mat-tab>
    <mat-tab label="Edit Account">
      <div *ngIf="participant.new_account">
        <h1>Please complete your account details.</h1>
      </div>
      <app-account-form [participant]="participant"></app-account-form>
    </mat-tab>
  </mat-tab-group>
</div>
