<div *ngIf="isDataLoaded">

  <section class="header">
    <div class="circleborder">
      <img class="participant-big" src="{{account.links.image}}">
    </div>
    <h2 class="mat-title">{{account.display_name}}</h2>
  </section>

  <section class="header">
    <p>{{account.bio}}</p>
  </section>

  <mat-tab-group>
    <mat-tab label="Upcoming Sessions">
      <div
        class="container"
        fxLayout="row"
        fxLayout.xs="column"
        fxLayoutAlign="center"
        fxLayoutGap="10px"
        fxLayoutGap.xs="0">

        <app-session *ngFor="let session of account.upcomingSessions()" [session]="session" ></app-session>
      </div>
    </mat-tab>
    <mat-tab label="Past Sessions">
      <div
        class="container"
        fxLayout="row"
        fxLayout.xs="column"
        fxLayoutAlign="center"
        fxLayoutGap="10px"
        fxLayoutGap.xs="0">

        <app-session *ngFor="let session of account.pastSessions()" [session]="session" ></app-session>
      </div>
    </mat-tab>
    <mat-tab label="Instructing" *ngIf="account.isTeacher()">
      <div
        class="container"
        fxLayout="row"
        fxLayout.xs="column"
        fxLayoutAlign="center"
        fxLayoutGap="10px"
        fxLayoutGap.xs="0">

        <app-session *ngFor="let session of account.teachingSessions()" [session]="session"></app-session>
      </div>
    </mat-tab>
    <mat-tab label="Edit Account">
      <p>{{account.bio}}</p>
    </mat-tab>
  </mat-tab-group>
</div>
