.header {
  background-image: url('../../header.png');
  min-height:100px;
  color: white;
  margin: auto;
  vertical-align: middle;
  padding: 40px 10px 10px 20px;
}


.header img {
  max-height: 100px;
  border-radius: 50%;
  float: left;
  margin: 0 20px 20px 50px;
}

