// Import theming functions
@import '~@angular/material/theming';
// Import your custom theme
@import '../../uva_material.scss';
// Load the UVA Theme
@include uva-theme($uva-theme);

mat-tab-group {
  min-height: 200px;
}

mat-spinner {
  margin: auto;
  padding: 50px;
}

ul.list {

  li {
    .avatar-wrapper {
      width: 100px;
      vertical-align: top;

      .avatar {
        /* Always left-align! Don't center icons */
        width: 80px; /* 72-16 but we already use box-sizing */
        border-radius: 40px;
        padding-left: 0px;
      }
    }
  }

  .email-content {
    max-height: 300px;
    overflow: scroll;
    background: white;
    padding: 20px;
  }
}
