<div *ngIf="is_data_loaded">

  <section class="header">
    <h2 class="mat-title">Workshop Dashboard: {{workshop.title}}<br/>
    <span class="sub-title">with {{workshop.instructor.display_name}}</span>
    </h2>
  </section>

  <section class="header">
    <p>{{workshop.description}}</p>
  </section>

  <mat-tab-group [selectedIndex]="selected_tab">

    <mat-tab label="Followers">
      <p>There are currently {{workshop.followers.length}} people following this Workshop.</p>
      <ul class="list">
        <li *ngFor="let a of workshop.followers">
          <div class="avatar-wrapper">
            <img class="avatar" src="{{a.links.image}}" alt=""/>
          </div>
          <div class="list-text">
            <p>
              <b>{{ a.display_name }}</b><br/>
              Signed up on {{ a.created | date: 'fullDate'}}<br/>
              <br/>
            </p>
          </div>
        </li>
      </ul>
    </mat-tab>

    <mat-tab label="Email Followers">
      <app-email-form *ngIf="!is_sending" (newEmail)="sendEmail($event)"></app-email-form>
      <mat-spinner *ngIf="is_sending"></mat-spinner>
    </mat-tab>

    <mat-tab label="Previous Emails">
      <p>The following messages were sent to followers:</p>
      <ul class="list">
        <li *ngFor="let m of messages">
          <div class="avatar-wrapper">
            <img class="avatar" src="{{workshop.instructor.image()}}" alt=""/>
          </div>

          <div class="list_subject">
            <b>Subject:</b> {{m.subject}}<br/>
            <b>Date:</b> {{m.sent_date | date: 'fullDate'}}<br/>
            <br/>
            <div class="email-content">
              <markdown-to-html [data]="m.content"></markdown-to-html>
            </div>
          </div>
        </li>
      </ul>
    </mat-tab>

  </mat-tab-group>

</div>

