<div *ngIf="isDataLoaded">

  <section class="header"
           fxLayout="row"
           fxLayout.xs="column"
           fxLayoutAlign="start center"
           fxLayoutGap="10px"
           fxLayoutGap.xs="0">
    <div class="circleborder">
      <img class="instructor-big" src="{{workshop.instructor.image()}}">
    </div>
    <div>
      <h2 class="mat-title">{{workshop.title}}</h2>
      <span class="sub-title">with {{workshop.instructor.display_name}}</span>
      <p>{{workshop.description}}</p>
    </div>
    <div class="spacer"></div>

    <div class="status" [ngSwitch]="workshop.status">
      <button *ngSwitchCase="'NO_USER'"  mat-raised-button (click)="goLogin()">Log in to Register</button>
      <button *ngSwitchCase="'INSTRUCTOR'" mat-raised-button (click)="goInstructorDashboard()" aria-label="Instructor">Instructor Dashboard</button>
      <button *ngSwitchCase="'FOLLOWING'" mat-raised-button color="accent" (click)="unFollow()">Un-Follow</button>
      <div *ngSwitchCase="'REGISTERED'" class="details">You are now registered for this class.</div>
      <div *ngSwitchDefault>
         <button mat-raised-button (click)="follow()">Follow</button>
         <div class="details">Follow this workshop to receive notifications about new sessions and open seats.</div>
      </div>
    </div>

    <button mat-fab (click)="goEdit()" aria-label="Edit Track" *ngIf="account && account.isAdmin()">
      <mat-icon>edit</mat-icon>
    </button>
  </section>


  <div class="course-nav-scroll">
    <mat-tab-group class="tall-labels">

      <mat-tab>
        <ng-template mat-tab-label>
          <div>
            <h1>{{displaySessions().length}}</h1>
            <div class="sub-title">Sessions Available</div>
          </div>
        </ng-template>
        <app-session-list  *ngIf="displaySessions().length > 0"  [sessions]="displaySessions()" (registerEvent)="onRegistrationChange($event)"></app-session-list>
        <section *ngIf="displaySessions().length === 0">
          <p>No session of this workshop are currently available.  Use the follow button to be notified when a new session is posted.</p>
          <p *ngIf="similarWorkshops().length > 0">There is one or more similar workshops listed below that cover the same content. </p>
        </section>
      </mat-tab>

      <mat-tab *ngIf="workshop.discourse_enabled">
        <ng-template mat-tab-label>
          <div>
            <h1>{{post.posts.length}}</h1>
            <div class="sub-title">Posts in Discussion</div>
          </div>
        </ng-template>
        <p>You can participate in this discussion on <a target="discourse"
                                                        href="{{workshop.discourse_url}}">Discourse</a>.</p>
        <div
          class="container"
          fxLayout="column"
          fxLayoutWrap
          fxLayout.xs="column"
          fxLayoutAlign="center"
          fxLayoutGap="10px"
          fxLayoutGap.xs="0">
          <app-post *ngFor="let p of post.posts" [post]="p"></app-post>
        </div>
      </mat-tab>

      <mat-tab>
        <ng-template mat-tab-label>
          <div>
            <h1>{{tracks.length}}</h1>
            <div class="sub-title">Tracks contain this workshop</div>
          </div>
        </ng-template>
        <app-track-list [tracks]="tracks"></app-track-list>
      </mat-tab>
      <mat-tab *ngIf="similarWorkshops().length > 0">
        <ng-template mat-tab-label>
          <div>
            <h1>{{similarWorkshops().length}}</h1>
            <div class="sub-title">Similar Workshops offered</div>
          </div>
        </ng-template>
        <app-workshop-list [workshops]="similarWorkshops()"></app-workshop-list>
      </mat-tab>
    </mat-tab-group>
  </div>


  <div class="course-nav-list">
    <h2>Sessions</h2>
    <app-session-list *ngIf="displaySessions().length > 0" [sessions]="displaySessions()" (registerEvent)="onRegistrationChange($event)"></app-session-list>
    <section *ngIf="displaySessions().length === 0">
      <p>No session of this workshop are currently available.  Use the follow button to be notified when a new session is posted.</p>
      <p *ngIf="similarWorkshops().length > 0">There is one or more similar workshops listed below that cover the same content. </p>
    </section>

    <div *ngIf="tracks.length > 0">
    <h2>Tracks containing this workshop</h2>
    <app-track-list [tracks]="tracks"></app-track-list>
    </div>

    <div *ngIf="similarWorkshops().length > 0">
    <h2>Similar Workshops</h2>
    <app-workshop-list [workshops]="similarWorkshops()"></app-workshop-list>
    </div>

  </div>

</div>


