<div *ngIf="isDataLoaded">

  <section class="header">
    <div class="circleborder">
      <img class="instructor-big" src="{{workshop.nextSession().firstInstructor().links.image}}">
    </div>
    <h2 class="mat-title">{{workshop.title}}</h2>
    <span class="sub-title">with {{workshop.nextSession().instructorsDisplay()}}</span>
  </section>

  <section class="header">
    <p>{{workshop.description}}</p>
  </section>

  <section class="header flex">
    <div>
      {{workshop.nextSession().date_time | date: 'EEE. MMMM d, y, h:mm-'}}{{workshop.nextSession().endTime() | date: 'h:mma'}}
      <br/>
      <span class="sub-title">Location: {{workshop.nextSession().location}}</span>
    </div>
    <span class="spacer"></span>
    <button mat-raised-button>Register</button>
  </section>

  <mat-tab-group class="tall-labels">
    <mat-tab>
      <ng-template mat-tab-label>
          <div>
            <h1>5</h1>
            <div class="sub-title">Tracks contain this workshop</div>
          </div>
      </ng-template>
      <h1>Best pasta restaurants</h1>
      <p>...</p>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <div>
          <h1>3</h1>
          <div class="sub-title">Similar Workshops offered</div>
        </div>
      </ng-template>
      <div
        class="container"
        fxLayout="row"
        fxLayoutWrap
        fxLayout.xs="column"
        fxLayoutAlign="center"
        fxLayoutGap="10px"
        fxLayoutGap.xs="0">
        <app-session *ngFor="let session of workshop.sessions" [session]="session"></app-session>
      </div>
    </mat-tab>
  </mat-tab-group>





</div>
