// Import theming functions
@import '~@angular/material/theming';
// Import your custom theme
@import '../../uva_material.scss';
// Load the UVA Theme
@include uva-theme($uva-theme);

.instructor-big {
  width: 50px;
  height: 50px;
  border-radius: 381px;
  border: 4px solid mat-color($uva-accent, 500);
  padding: 4px;
  margin-right: 10px;
}

mat-tab-group h1, mat-tab-group h2 {
  background: transparent;
}

div.notification {
  max-width: 300px;
}

app-session {
  padding-bottom: 10px;
}

.course-nav-scroll {
  display: block;
}

.course-nav-list {
  display: none;
}

.details {
  margin-top: 5px;
  max-width: 160px;
}

@media screen and (min-width: 480px) {

  .instructor-big {
    width: 100px;
    height: 100px;
    border: none;
    padding: 4px;
    margin-right: 10px;
  }

  .course-nav-list {
    display: block;
  }

  .course-nav-scroll {
    display: none;
  }

  .course-nav-list {
    display: block;
  }


}
